## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Guerrero Negro,MX,69.96,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
1,5,Necochea,AR,62.04,moderate rain,-38.5473,-58.7368,dyd -mar Hotel
2,7,Busselton,AU,54.09,few clouds,-33.6500,115.3333,Observatory Guest House
3,8,Guerrero,MX,71.92,overcast clouds,17.6667,-100.0000,Villaxochilt
4,9,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City =='Katsuura', :]
vacation_end = vacation_df.loc[vacation_df.City =='Katsuura', :]
vacation_stop1 = vacation_df.loc[vacation_df.City =='Wajima', :]
vacation_stop2 = vacation_df.loc[vacation_df.City == 'Ushibuka', :]
vacation_stop3 = vacation_df.loc[vacation_df.City == 'Kaseda', :]

In [6]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
44,81,Kaseda,JP,53.85,clear sky,31.4167,130.3167,Sun Stay Kaseda

In [7]:
#6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

import numpy

start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets 
gmaps.configure (api_key=g_key)

#Lat-Lng pairs 
katsuura = (35.1333, 140.3)
wajima = (37.4, 136.9)
ushibuka = (32.1906, 130.0228)
kaseda = (31.4167, 130.3167)

fig = gmaps.figure()
start2end = gmaps.directions_layer(katsuura, katsuura, waypoints=[wajima, ushibuka, kaseda], travel_mode= "DRIVING")
fig.add_layer(start2end)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,194,Katsuura,JP,57.31,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
1,431,Wajima,JP,57.40,overcast clouds,37.4000,136.9000,Wajiima Onsen Yashio
2,484,Ushibuka,JP,60.85,few clouds,32.1906,130.0228,Hotei
3,81,Kaseda,JP,53.85,clear sky,31.4167,130.3167,Sun Stay Kaseda
4,194,Katsuura,JP,57.31,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

locations

       Lat       Lng
0  35.1333  140.3000
1  37.4000  136.9000
2  32.1906  130.0228
3  31.4167  130.3167
4  35.1333  140.3000

In [16]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(31.0, 141.1), zoom_level=6)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))